{% set run_dir = "/run/"+app.value.django.user.user %}
[Unit]
Description=uWSGI {{app.key}}
After=syslog.target

[Service]
User={{app.value.django.user.user}}
WorkingDirectory={{app.value.django.user.home}}/django/code
ExecStart={{app.value.django.user.home}}/django/venv/bin/uwsgi --pidfile={{run_dir}}/{{app.key}}.pid --module={{app.value.django.configs.server.module_name}}
{%- if app.value.django.configs.server.socket.type == "unix" %}
 --socket {{run_dir}}/{{app.key}}.sock --stats={{run_dir}}/{{app.key}}_stats.sock
{% elif app.value.django.configs.server.socket.type == "tcp" %}
 --socket :{{app.value.django.configs.server.socket.ports.main}} --stats :{{app.value.django.configs.server.socket.ports.stats}}
{% endif %}
ExecStop={{app.value.django.user.home}}/django/venv/bin/uwsgi --stop {{run_dir}}/{{app.key}}.pid
RuntimeDirectory={{app.value.django.user.user}}
Type=notify
NotifyAccess=all
SELinuxContext=system_u:system_r:httpd_t:s0

[Install]
WantedBy=multi-user.target
